// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: initial;
  cursor: pointer;
  color: currentColor;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
