// STRUCTURE
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

html {
  font-size: 16px;
}
body {
  background-color: var(--color-black-950);
  font-family: sans-serif;
  color: var(--color-white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
