// COLORS
$black: (
  "950": #0a0a0a,
  "900": #111111,
  "800": #171717,
  "700": #1f1f1f,
  "600": #292929,
  "500": #363636,
  "400": #474747,
  "300": #616161,
  "200": #8a8a8a,
  "100": #ababab,
  "50": #d5d5d5,
);

$primary: (
  "950": #2f0077,
  "900": #5004ae,
  "800": #5f02d5,
  "700": #7910fe,
  "600": #7e15ff,
  "500": #883cff,
  "400": #a374ff,
  "300": #c0a6ff,
  "200": #dbceff,
  "100": #ebe5ff,
  "50": #f4f0ff,
);

$blue: (
  "950": #122159,
  "900": #153493,
  "800": #1238bb,
  "700": #0e44e7,
  "600": #1258fb,
  "500": #2c7bff,
  "400": #54a2ff,
  "300": #8ac4ff,
  "200": #bad9ff,
  "100": #d8eaff,
  "50": #eef6ff,
);

$yellow: (
  "950": #481e00,
  "900": #7c3c0b,
  "800": #984908,
  "700": #bb5f02,
  "600": #e28800,
  "500": #f2a900,
  "400": #ffd31b,
  "300": #ffd31b,
  "200": #fff285,
  "100": #fff8c5,
  "50": #fffdea,
);

$red: (
  "950": #4a0605,
  "900": #871715,
  "800": #a41310,
  "700": #c7120e,
  "600": #ec1d19,
  "500": #fe3935,
  "400": #ff6865,
  "300": #ff9f9d,
  "200": #ffc6c5,
  "100": #ffe1e0,
  "50": #ffe1e0,
);

$green: (
  "600": #00b966,
  "950": #00341e,
  "900": #0a5d3a,
  "800": #0a7144,
  "700": #059052,
  "500": #09de7e,
  "400": #33f59d,
  "300": #76ffc1,
  "200": #b2ffdb,
  "100": #d7ffec,
  "50": #eefff6,
);
